.warna-utama {
    color: #029094;
}

/* html, body {
    height: 100%;
    margin: 0;
} */

.content {
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 130px; 
}

.contact-info p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info i {
    margin-right: 10px; 
}

footer {
    /* height: 130px;  */
    /* background-color: #333;  */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.content {
    min-height: calc(100vh - 130px); /* 130px adalah tinggi footer */
}

.bg-utama {
    background-color: #029094;
}

.navbar-toggler{
    background-color: #029094;
}

/* Hides the arrows in input type number in all browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hides the arrows in input type number in Firefox */
input[type="number"] {
    appearance: textfield;
}
.desk {
    text-align: justify;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}